<div class="row justify-lg-align-center">
  <div class="col-12 col-lg-4">
    <div class="card">
      <div class="card-body">
        <strong>General Info:</strong><br/>
         ID: {{user.id}}<br />
         Name: {{user.name}}<br />
         Username: {{user.username}}<br/>
         Email: {{user.email}}<br/>
         Phone: {{user.phone}}<br/>
         Website: {{user.website}}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <app-address [address]="user.address"></app-address>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card">
      <div class="card-body">
        <strong>Company:</strong><br />
        Name: {{user.company.name}}<br />
        Catchphrase: {{user.company.catchPhrase}}<br />
        BS: {{user.company.bs}}<br />
      </div>
    </div>
  </div>
</div>
